.content-1{
    display: flex;
}

.title{
    background-color: white;
    padding-left: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 3px;
    outline-style: solid;
    outline-color: rgb(212, 212, 212);
    outline-width: 1px;
}

.content-2{
    background-color: #F6F6F6;
    width: 85vw;
    height: 94vh;
}

.content-3{
    background-color: white;
    margin-top: 2vh;
    margin-left: 0.6vw;
    width: 70vw;
    height: 60vh;
    outline-style: solid;
    outline-color: rgb(212, 212, 212);
    outline-width: 1px;
}

.container{
    display: grid;
    grid-template-columns: 20vw 20vw 20px 50px;
}

.a{
    grid-column: 1/1;
    font-weight: bold;
}

.b{
    grid-column: 2/2;
    font-weight: bold;
}

.search{
    margin-left: 1vw;
    margin-top: 1vw;
    padding-top: 0.5vh;
    padding-left: 0.2vw;
    padding-bottom: 0.5vw;
}

.top{
    display: flex;
}

.addImage{
    width: 100%;
    height: auto;
}

.img-container{
    margin-top: 2.5vh;
    margin-left: 3vw;
}

.select{
    margin-top: 3vh;
}

.brand{
    margin-left: 1vw;
}

.sign-out{
    margin-left: 92vw;
}

.responses{
    display: flex;

}

.responses-title{
    margin-left: 1vw;
    margin-right: 5vw;
}

.one{
    font-weight: bold;
}

.responses-list{
    display: flex;
    flex-direction: column;
}

.addImgResponses{
    margin-left: 6vw;
}